
p{
    color:rgb(12, 0, 0);
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
}
    
body{
        background-color: rgb(247, 222, 236) ;
    }


div
{
    max-width: 700px;
    margin: auto;
}

h1

{
    text-align: center;
}